@tailwindcss base;
@tailwindcss components;
@tailwindcss utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f4f4f4;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 20%;
}

.volume-slide {
  orientation: vertical;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-color: transparent;
  /* rotate counter-clockwise by 90 degree */
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

/* Overlay elements on top of each other in this div */
.beaker {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.beaker img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
